# copy this file to config.py and customize it for your own setup

# URI of your network's nodes.json
JSON_URI = 'http://localhost:8000/nodes.json'

# Interval for reloading nodes.json
UPDATE_INTERVAL = 60

# number of update cycles a node must be gone to be announced as "deleted"
DELETE_TIMEOUT = 3

# path to the database
DATABASE = 'data/data.sqlite'

# Time format used in chat messages
TIME_FORMAT = '%Y-%m-%d %H:%M'

# authentication message
AUTH_TARGET = "nickserv"
AUTH_MESSAGE = "identify password"

# use "/msg chanserv topic <target> <topic" instead of "/topic" to set the topic
TOPIC_USE_CHANSERV = True

# maximum limit of nodes printed by the "top" command in public channels
PUBLIC_MAX_NODES = 10

# log files (set to None or '' to disable)
LOG_NODECOUNT = 'logs/nodes.csv'
LOG_ONLINENODECOUNT = 'logs/onlinenodes.csv'
LOG_TOTALCLIENTCOUNT = 'logs/totalclients.csv'
LOG_NODECLIENTCOUNT = 'logs/nodeclients.csv'
LOG_NODENAMES = 'logs/nodenames.csv'

# plot locations
PLOT_DIR = '/tmp/plots'
PLOT_HTML = '/tmp/plots.html'
