# copy this file to config.py and customize it for your own setup

# URI of your network's nodes.json
JSON_URI = 'http://localhost:8000/nodes.json'

# Interval for reloading nodes.json
UPDATE_INTERVAL = 60

# number of seconds to wait for a response from JSON_URI
REQUEST_TIMEOUT = 10

# number of update cycles a node must be gone to be announced as "deleted"
DELETE_TIMEOUT = 3

# path to the database
DATABASE = 'data/data.sqlite'

# Time format used in chat messages
TIME_FORMAT = '%Y-%m-%d %H:%M'

# authentication message
AUTH_TARGET = "nickserv"
AUTH_MESSAGE = "identify password"

# reconnect interval
RECONNECT_INTERVAL = 30

# rate limiting
RATELIMIT_MESSAGES = 4
RATELIMIT_INTERVAL = 0.5

# enable or disable notifications
NOTIFY_ONLINE_STATUS   = True
NOTIFY_NEW_NODES       = True
NOTIFY_DELETED_NODES   = True
NOTIFY_RENAMED_NODES   = True
NOTIFY_NODE_HIGHSCORES = True
NOTIFY_NET_HIGHSCORES  = True

# use "/msg chanserv topic <target> <topic" instead of "/topic" to set the topic
TOPIC_USE_CHANSERV = True

# maximum limit of nodes printed by the "top" command in public channels
PUBLIC_MAX_NODES = 10

# log files (set to None or '' to disable)
LOG_NODECOUNT = 'logs/nodes.csv'
LOG_ONLINENODECOUNT = 'logs/onlinenodes.csv'
LOG_TOTALCLIENTCOUNT = 'logs/totalclients.csv'
LOG_NODECLIENTCOUNT = 'logs/nodeclients.csv'
LOG_NODENAMES = 'logs/nodenames.csv'

# plot locations
PLOT_DIR = '/tmp/plots'
PLOT_HTML = '/tmp/plots.html'

# do only replot if there was an event less than this number of seconds ago
PLOT_SKIP_TIMEOUT = 20*60

# time interval vor min/max/average accumulation in long-term plots
PLOT_ACC_TIME_1Y  = 3*24*3600
PLOT_ACC_TIME_30D =   12*3600
