body {
	margin: 0;
	padding: 0.25%;
	text-align: center;
	color: white;
	background-color: #444;
}

div.history_box, div.jumplist {
	width: 99.5%;
	background-color: #888;
	margin: 0 0 2% 0;
	padding: 0.25%;
	border-radius: 1em;
}

p.plot_line {
	margin: 0 auto 0.5% auto;
	padding: 0;
	display: block;
	width: 98%;
	border-spacing: 0.4em;
}

span.plot {
	margin: 0.25%;
	padding: 0;
	display: inline-block;
	width: 24.00%;
	vertical-align: middle;
	background-color: red;
	border-radius: 0.5em;
	background-color: white;
	padding: 0.25%;
	min-width: 200px;
}

span.plot img {
	width: 100%;
	display: inline-block;
}

div.jumplist {
	background-color: #666;
}

span.jumpentry {
	margin-right: 0.5em;
}

span.jumpentry a {
	color: white;
}

span.jumpentry a:hover {
	color: silver;
}
